* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: #feda6a;
}

a.site-container {
    display: block;
}

a:active {
    color: #ec9838;
}

a:visited {
    color: #ec9838;
}

header {
    grid-area: header;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393f4d;
    color: #feda6a;
    font-family: "Oswald", "Helvetica", sans-serif;
    text-transform: uppercase;
}

header h1 {
    position: relative;
    display: inline-block;
    background-color: inherit;
    z-index: 0;
}

header h1::before {
    content: "";
    height: 100%;
    position: absolute;
    left: -15px;
    right: -15px;
    background-color: #393f4d;
    z-index: -1;
}

header h1::after {
    content: "";
    background-color: #feda6a;
    height: 100%;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    
}

main {
    grid-area: main;
    background-color: #393f4d;
    color: #d4d4dc;
    font-family: "Open Sans", "Arial",sans-serif;
}

#list-heading {
    text-align: center;
}

main #all-sites{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    position: relative;
}

main #all-sites .site-container{
    width: 300px;
    height: 250px;
    margin: 20px 25px;
    background-color: #feda6a;
    color: #1d1e22;
    position: relative;
}

main #all-sites .site-container .site-details{
    height: 75%;
    width: 100%;

} 

main #all-sites .site-container .site-details .site-ss{
    width: 100%;
    height: 100%;
}

main #all-sites .site-container .site-caption{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    transition: all ease 500ms;
}

main #all-sites .site-container .site-caption .site-info{
    transition: all ease 500ms;
}

main #all-sites .site-container .site-caption .site-extra{
    opacity: 0;
    display: none;
    padding: 15px;
    transition: all ease 500ms;
}

main #all-sites .site-container:hover .site-caption{
    height: 100%;
    background-color: #feda6aaa;
}

@supports (-ms-ime-align:auto) {
    main #all-sites .site-container:hover .site-caption {
        height: 100%;
        background-color: rgba(254,218,106,0.66)
    }
}

main #all-sites .site-container:hover .site-caption .site-extra{
    opacity: 1;
    display: block;
}

footer {
    grid-area: footer;
    display: flex;
    flex-flow: column  nowrap;
    justify-content: center;
    align-items: center;
    background-color: #1d1e22;
    color: #d4d4dc;
    font-family: "Open Sans", sans-serif;
}

footer #foot-notes {
    display: flex;
    flex-flow: column  nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto 20%;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
